# Files to ignore.
*.pyc
.Python
pip-selfcheck.json

# Submodule directories to ignore.
gitlang/

# Directories to ignore.
bin/
include/
lib/
git_suggest/__pycache__/

# PyPi related directories to ignore.
*.egg-info/
dist/